.thought1 {
    font-family: 'Kirang Haerang', cursive;
}

.thought2 {font-family: 'Gaegu', cursive;
}

.thought3 {font-family: 'Arimo', sans-serif;
}

h1:hover {
    text-decoration: underline;
    color: red;    
}